################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Admin/.vs/Admin/v16/Server/sqlite3
